<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Sugestões</h6>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                src="img/undraw_posting_photo.svg" alt="...">
        </div>
        <p>Manter um equilíbrio delicado entre despesas essenciais, gastos discricionários e investimentos estratégicos é fundamental para o bem-estar financeiro. As despesas essenciais atendem às nossas necessidades básicas, garantindo estabilidade e segurança. Os gastos discricionários permitem o desfrute dos prazeres e desejos da vida, adicionando alegria à nossa jornada. No entanto, a chave para uma prosperidade sustentável está nos investimentos estratégicos. Alocar recursos de maneira inteligente em empreendimentos que crescem ao longo do tempo assegura um futuro próspero. Reconhecer a importância do orçamento proporcional capacita as pessoas a navegar pela paisagem financeira da vida com resiliência. Encontrar o equilíbrio certo entre essenciais, desejos e investimentos é a base de uma estratégia financeira sólida, promovendo um caminho para satisfação imediata e prosperidade duradoura.</a>
    </div>
</div>

<!-- Approach -->
<!-- <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
    </div>
    <div class="card-body">
        <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
            CSS bloat and poor page performance. Custom CSS classes are used to create
            custom components and custom utility classes.</p>
        <p class="mb-0">Before working with this theme, you should become familiar with the
            Bootstrap framework, especially the utility classes.</p>
    </div>
</div> -->